{# HTML5 declaration #}
<!DOCTYPE html>
<html>
    {# Make modifiable head elements #}
    <head>
        <title>{% block title %}!Title Missing! {% endblock title %}</title>
            <link rel="icon" type="image/png"
                  href="{{ STATIC_URL }}images/favicon.ico">
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
                <meta http-equiv="Content-Language" value="en-US" />
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
                {% load static %}
                <link rel="stylesheet" type="text/css" href="{% static 'home/css_reset.css' %}" />
                <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
    </head>
    <body>
      <div id="navigation">
        <a href="/">Home</a>
        <a href="/yogaunterricht"> Yoga-Unterricht </a>
        <a href="/ashtangayoga"> Ashtanga Yoga </a>
        <a href="/blog">Artikel</a>
      </div>
      <div id="sidebar">
      {% block sidebar %}
      <!-- should be no content seen here, not
       even a sidebar if not specified-->
      {% endblock sidebar %}
      </div>
      <div id="content">
      {% block content %}
      If you see this there is no content specified
      {% endblock content %}
      </div>
    </body>
</html>
