{# HTML5 declaration #}
<!DOCTYPE html>
<html>
    {# Make modifiable head elements #}
    <head>
        <title>{% block title %}Home {% endblock title %}</title>
            <link rel="icon" type="image/png"
                  href="{{ STATIC_URL }}images/favicon.ico">
                <meta http-equiv="Content-Type"
                      content="text/html; charset=utf-8" />
                <meta http-equiv="Content-Language" value="en-US" />
                <meta name="viewport"
                      content="width=device-width, initial-scale=1.0">
                {% load static %}
                <link rel="stylesheet" type="text/css" href="{% static 'home/css_reset.css' %}" />
                <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}" />
                <!-- <link href="{{ STATIC_URL }}css/app.css"
                      rel="stylesheet" media="screen"> -->
    </head>
    <body>
      <div id="navigation">
        <a href="/">Home</a>
        <a href="/blog">Blog</a>
      </div>
      <div id="content">
      {% block content %} content {% endblock content %}
      </div>
    </body>
</html>
