{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block sidebar %}
    {% for sidebar_choice in sidebar_choices %}
        <a href="#{{ sidebar_choice.anchor }}">{{ sidebar_choice.text | safe }}</a><br>
    {% endfor %}
{% endblock sidebar %}
{% block content %}
<span class="anchor", id="announcements"></span>
<span class="general_title">Topaktuell</span>
<div class="announcements_frame">
    {% if announcements %}
        {% for announcement in announcements %}
            {{ announcement.render_text_markdown | safe }}
        {% endfor %}
    {% else %}
        <p>No Announcements.</p>
        <p>Momentan nichts topaktuelles.</p>
    {% endif %}
</div>

<!-- HERE THE FORTNIGHTLY OVERVIEW PANE -->

<div>
    <span class="anchor" id="fortnight_overview"></span>
    <span class="general_title" >14-Tage-Übersicht</span> <br>
    <table class="fortnight_overview">
        <tr>
            <th>Wochentag</th>
            <th>Datum</th>
            <th>Wann?</th>
            <th>Was?</th>
            <th>Wo?</th>
        </tr>
    {% for day in upcoming_days %}
        <tr>
            <td>{{ day.weekday }}</td>
            <td>{{ day.date }} </td>
            {% for event in day.events %}
                <td>{{ event.event_date | date:"G:i" }} Uhr</td>
                <td><b>{{ event.name }}</b>: {{ event.render_description_markdown }}</td>
                <td>{{ event.venue }}</td>  
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>
{% for content_text in content_texts %}
    <span class="anchor" id="{{ content_text.anchor }}"></span>
    <span class="general_title">{{ content_text.title }}</span>
    {{ content_text.render_text_markdown | safe}}
{% endfor %}
<span class="anchor" id="articles"></span>
<span class="general_title">Artikel im Blog</span>
<ul>
    {% for blog_entry in blog_entries %}
        <a href="{% url 'blog:blog_entry' blog_entry.id %}">
            <div class="blog_preview">
                <span class="blog_title_preview"> {{ blog_entry.get_title_preview }} </span> <br>
                <span class="blog_date_preview"> {{ blog_entry.created_date }} </span> <br>
                <span class="blog_text_preview"> {{ blog_entry.get_text_preview_md | safe }}
            </div>
        </a>
    {% endfor %}
</ul>
{% endblock content %}
