{% extends 'base.html' %}
{% block content %}
{% if blog_entries %}
    {% for blog_entry in blog_entries %}
        <a href="{% url 'blog:blog_entry' blog_entry.id %}">
            <div class="blog_preview">
                <span class="blog_title_preview"> {{ blog_entry.title }} </span> <br>
                <span class="blog_text_preview"> {{ blog_entry.get_text_preview }}
            </div>
        </a>
    {% endfor %}
    <div style="clear: both"></div>
{% else %}
    <p>No blog entries are available.</p>
{% endif %}
{% endblock content %}
