{% extends 'base.html' %}
{% block title %}Yogastunden in Hamburg{% endblock title %}
{% block sidebar %}
    {% for sidebar_choice in sidebar_choices %}
        <a href="#{{ sidebar_choice.anchor }}">{{ sidebar_choice.text }}</a><br>
    {% endfor %}
{% endblock sidebar %}
{% block content %}
    {% for content_text in content_texts %}
        <div class="content_text">
            <span class="anchor" id="{{ content_text.anchor }}"></span>
            <span class="general_title">{{ content_text.title }}</span>
            {{ content_text.render_text_markdown | safe }}
        </div>
    {% endfor %}
{% endblock content %}