{% extends 'base.html' %}
{% block title %}Ashtanga Yoga{% endblock title %}
{% block sidebar %}
<a href="#">Praxis</a> <br>
<a href="#">Historisch</a> <br>
<a href="#">Moderne</a> <br>
<a href="#">Yoga Sutra</a> <br>
<a href="#">Weitere Texte</a> <br>

{% endblock sidebar %}
{% block content %}
<div>
Hier steht irgendwann einmal etwas über Ashtanga Vinyasa Yoga in Vergangenheit 
und Gegenwart.  Zukunft wissen wir leider noch nicht. <br>
</div>
<span class="general_title">Praxis</span> <br>
<span class="general_title">Historisch</span> <br>
<span class="general_title">Moderne</span> <br>
<span class="general_title">Yoga Sutra</span> <br>
<span class="general_title">Weitere Texte</span> <br>
{% endblock content %}
