
#navigation
{
    position: fixed;
    height: 40px;
    width: 100%;
    z-index: 999;
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 15px;
    border-bottom-style: solid;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 10px;
    top: 0px;
}
#navigation a {
    color: #000000;
    text-decoration: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-left-color: #D0D1D1;
    border-left-style: solid;
    border-left-width: 2px;
    margin: 1%;
    font-size: 15pt;
    transition: all 0.2s ease-in;
}
#navigation a:hover {
    background-color: #06D6A0;
}
#navigation a:active {
    background-color: #06D6A0;
}
.anchor {
    display: block;
    height: 65px; /*same height as header*/
    margin-top: -65px; /*same height as header*/
    background-color: #000000;
    width: 100px;
    visibility: hidden;
}
body {
    background-color: none;
    text-align: left;
    font-family: helvetica;
}

.general_title {
    font-size: 22px;
    padding: 4px;
    margin: 8px;
    margin-left: 0px;
    margin-top: 20px;
    border-left-style: solid;
    border-left-width: 4px;
    border-left-color: #06D6A0;
}

#content{
    padding: 10px;
    max-width: 700px;
    height: 100%;
    position: relative;
    background-color: #FFFFFF;
    margin: auto;
    top: 110px;
    word-wrap: break-word;
}

#sidebar{
    margin-right: 10px;
    top: 110px;
    position: fixed;
    background-color: #06D6A0;
    padding: 10px;
    border-radius: 10px;
    line-height: 250%;
    width: 150px;
    max-height: 500px;
    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    /*transition: max-height 0.25s ease-in;*/
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { max-height: 0;
           line-height: 0%;}
    to   { max-height: 800px;
           line-height: 250%;}
}

#sidebar a {
    border-left-style: solid;
    border-left-width: 3px;
    border-left-color: #D0D1D1;
    padding: 2px;
}

#sidebar a:hover {
    background-color: #FFFFFF;
    transition: all 0.2s ease-in;

}
#sidebar a:active {
    background-color: #FFFFFF;
}

.blog_preview {
    width: 45%;
    height: 208px;
    background-color: #06D6A0;
    border-color: #54C6EB;
    border-style: static;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    word-wrap: break-word;
    float: left;
}
.blog_date_preview {
    display: block;
    text-align: right;
}
.blog_title {
    font-size: 26pt;
}
.blog_title_preview {
    font-size: 20pt;
}
.blog_preview:hover {
    background-color: #06B690;
}
a
{
    color: #000000;
    text-decoration: underline;
}
a:hover {
    color: #000000;
    text-decoration: none;
}
a:visited {
    color: #000000;
    text-decoration: none;
}

.announcements_frame {
    height: 208px;
    width: 90%;
    background-color: #06D6A0;
    word-wrap: break-word;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;

}
.class_overview_frame {
    height: 208px;
    width: 90%;
    background-color: #06D6A0;
    word-wrap: break-word;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left:auto;
    margin-right:auto;

}

